:root {
  --cor-principal: white;
  --cor-secundaria: black;
  --fonte-principal: "Roboto";
}
* {
  margin: 0;
  padding: 0;
}
/* body principal */
body {
  background: linear-gradient(
    0deg,
    rgb(255, 132, 0) 0%,
    rgb(223, 130, 0) 56%,
    rgb(255, 165, 82) 100%
  );
  height: 100vh;
  color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
  width: 100%;
}
body h1 {
  padding: 1em 0 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-principal);
  white-space: wrap;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

/*Mudança de cores de cada equipe CL*/
.atlanta_hawks {
  background: linear-gradient(
    0deg,
    rgba(201, 53, 46, 1) 0%,
    #d64e63 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.boston_celtics {
  background: linear-gradient(
    0deg,
    rgba(1, 131, 72, 1) 0%,
    rgba(74, 165, 122, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.brookliyn_nets {
  background: linear-gradient(
    0deg,
    rgba(7, 25, 34, 1) 0%,
    rgba(59, 72, 79, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.charlotte_hornet {
  background: linear-gradient(
    0deg,
    rgba(30, 18, 97, 1) 0%,
    rgba(75, 83, 139, 1) 56%,
    rgba(166, 165, 184, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.chicago_bulls {
  background: linear-gradient(
    0deg,
    rgba(204, 17, 65, 1) 0%,
    rgba(140, 20, 55, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.cleveland_cavalier {
  background: linear-gradient(
    0deg,
    rgba(188, 148, 92, 1) 0%,
    rgba(167, 91, 78, 1) 19%,
    rgba(178, 121, 85, 1) 33%,
    rgba(154, 56, 69, 1) 68%,
    rgba(134, 1, 56, 1) 86%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.miami_heat {
  background: linear-gradient(
    0deg,
    rgba(147, 1, 46, 1) 37%,
    rgba(236, 153, 28, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.milwaukee_bucks {
  background: linear-gradient(
    0deg,
    rgba(2, 72, 27, 1) 37%,
    rgba(78, 122, 84, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.new_york_knicks {
  background: linear-gradient(
    0deg,
    rgba(242, 131, 39, 1) 37%,
    rgba(42, 71, 138, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.orlando_magic {
  background: linear-gradient(
    0deg,
    rgba(10, 27, 36, 1) 0%,
    rgba(28, 130, 198, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.philadelphia_76ers {
  background: linear-gradient(
    0deg,
    rgba(200, 16, 46, 1) 0%,
    rgba(29, 66, 138, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.toronto_raptors {
  background: #cd1844 !important;
  transition: all 0.25s ease-in-out;
}
.toronto_raptors {
  background: #cd1844 !important;
  transition: all 0.25s ease-in-out;
}
.detroit_pistons {
  background: linear-gradient(
    0deg,
    rgba(200, 18, 47, 1) 8%,
    rgba(33, 68, 139, 1) 50%,
    rgba(254, 251, 252, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.indiana_pacers {
  background: linear-gradient(
    0deg,
    rgba(250, 185, 48, 1) 0%,
    rgba(1, 45, 98, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.washington_wizards {
  background: linear-gradient(
    0deg,
    rgba(1, 42, 92, 1) 0%,
    rgba(254, 254, 254, 1) 50%,
    rgba(230, 38, 62, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}

/*Mudança de cores de cada equipe CO*/
.dallas_mavericks {
  background: linear-gradient(
    0deg,
    rgba(8, 26, 36, 1) 0%,
    rgba(1, 98, 173, 1) 50%,
    rgba(253, 253, 254, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.denver_nuggets {
  background: linear-gradient(
    0deg,
    rgba(252, 195, 38, 1) 8%,
    rgba(17, 34, 63, 1) 50%,
    rgba(137, 37, 49, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.golden_state_warriors {
  background: linear-gradient(
    0deg,
    rgba(29, 66, 138, 1) 0%,
    rgba(250, 185, 39, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.houston_rockets {
  background: linear-gradient(
    0deg,
    rgba(160, 19, 58, 1) 0%,
    rgba(204, 17, 65, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.los_angeles_clippers {
  background: linear-gradient(
    0deg,
    rgba(253, 253, 253, 1) 8%,
    rgba(202, 29, 53, 1) 50%,
    rgba(29, 65, 138, 1) 80%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.los_angeles_lakers {
  background: linear-gradient(
    0deg,
    rgba(251, 250, 251, 1) 0%,
    rgba(86, 40, 130, 1) 50%,
    rgba(247, 180, 41, 1) 80%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.memphis_grizzlies {
  background: linear-gradient(
    0deg,
    rgba(92, 117, 168, 1) 0%,
    rgba(19, 23, 63, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.minnesota {
  background: linear-gradient(
    0deg,
    rgba(14, 36, 64, 1) 0%,
    rgba(37, 94, 143, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.new_orleans_pelicans {
  background: linear-gradient(
    0deg,
    rgba(161, 21, 50, 1) 0%,
    rgba(15, 36, 65, 1) 50%,
    rgba(173, 147, 89, 1) 80%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.oklahoma_city_thunder {
  background: linear-gradient(
    0deg,
    rgba(23, 48, 98, 1) 0%,
    rgba(232, 61, 39, 1) 50%,
    rgba(249, 186, 62, 1) 80%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.phonix_suns {
  background: linear-gradient(
    0deg,
    rgba(227, 96, 32, 1) 0%,
    rgba(247, 159, 27, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.portland_trail_blazers {
  background: linear-gradient(
    0deg,
    rgba(249, 249, 249, 1) 0%,
    rgba(219, 56, 61, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.sacramento_kings {
  background: linear-gradient(
    0deg,
    rgba(90, 45, 130, 1) 0%,
    rgba(99, 113, 121, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.san_antonio_spurs {
  background: linear-gradient(
    0deg,
    rgba(67, 82, 90, 1) 0%,
    rgba(8, 26, 35, 1) 50%,
    rgba(132, 143, 149, 1) 80%
  ) !important;
  transition: all 0.25s ease-in-out;
}
.utah_jazz {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  transition: all 0.25s ease-in-out;
}

/*navbar de escolher qual a conferência(leste/oste)*/
#nav_primaria {
  display: flex;
  justify-content: center;
  padding: 1%;
  gap: 1%;
}
#nav_primaria div {
  border-radius: 2px;
  background-color: transparent;
  text-decoration: none;
  color: var(--cor-secundaria);
  cursor: pointer;
  text-align: center;
}
#nav_primaria div:hover {
  border-bottom: 1px solid var(--cor-principal);
}
.coferencia_escolhida {
  border-bottom: 1px solid var(--cor-principal);
}
/*Dimenção do celular*/
@media (max-width: 999px) {
  #nav_primaria {
    gap: 1em;
    padding: 1em;
  }
}
/*navbar feita para escolher o time*/
#ecolha_times {
  padding: 0 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--cor-principal);
  border-top: 2px solid var(--cor-principal);
}
/*Dimenção do celular. navbar feita para escolher o time*/
@media (max-width: 999px) {
  #ecolha_times {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
  }
}
/*Dimenção do 1185px. navbar feita para escolher o time*/
@media (max-width: 1185px) {
  #escolhas_times {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
  }
}
/*Dimenção do 1000. navbar feita para escolher o time*/
@media (max-width: 1345px) and (min-width: 1000px) {
  #escolhas_times {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
/*div do time escolhido*/
.time_escolhido {
  padding: 1%;
  border-left: 2px solid var(--cor-principal);
  border-right: 2px solid var(--cor-principal);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  color: var(--cor-secundaria);
  cursor: pointer;
}
.time_escolhido:hover {
  background-color: var(--cor-principal);
  scale: 1.1;
  font-size: 100%;
}
.escolhido {
  background-color: var(--cor-principal);
  scale: 1.04;
  font-size: 100%;
}
/*Dimenção do celular*/
@media (max-width: 999px) {
  .time_escolhido {
    padding: 1%;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    color: var(--cor-secundaria);
    cursor: pointer;
  }
}
/*img do times*/
.times {
  width: 61px;
  height: 60px;
  margin: 15px 25%;
}
.nomes_times {
  font-size: 30%;
  font-weight: 700;

  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
/*Dimenção do celular. img do times*/
@media (max-width: 999px) {
  .times {
    width: 50px;
    margin: 5px 5px;
  }
}
/*Dimenção do 1185px. img do times */
@media (max-width: 1185px) {
  .times {
    width: 50px;
    margin: 0 25%;
  }
}
/*Dimenção do 1000. img do times*/
@media (max-width: 1300px) and (min-width: 1000px) {
  .times {
    width: 50px;
    margin: 0 25%;
  }
}

/*animação dos bnt*/
.animacao {
  transition: all linear 0.2s;
}
.animacao:active {
  transform: scale(90%);
}
